/*
!.gitignore
!.README.md

!bspwm/
!kitty/DoomOne.conf
!kitty/Dracula.conf
!kitty/MonokaiPro.conf
!kitty/GruvboxDark.conf
!kitty/Palenight.conf
!kitty/OceanixText.conf
!kitty/SolarizedDark.conf
!kitty/TomorrowNight.conf
!kitty/theme.conf
!walls/
!ranger/
!neofetch/
!neofetch_ascii/
!color_change/
!.zshrc
!.tmux.conf

