btop/
discord/
spotify/
nvim/
newsboat/
btop/
systemd/user
pulse/
mpd/
ncmpcpp/
yarn/
yay/
matplotlib/
Google/
nvim.bak
notion-app/
packages.txt
Atom/
cava/
mpd/
jgit/
StarUML/
pavucontrol.ini
QtProject.conf
Code/
newsboat/

